body.colors .resume section{
    position: relative;
    border-top: 3px solid transparent;
    margin: 10px 0;
    padding: 10px 0 50px 0;
}
body.colors .resume>section.skills::after,
body.colors .resume>section.projects::after,
body.colors .resume>section.education::after{
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    display: none;
    width: 8%;
    height: 5px;
    background: #E8442A;
}
body.colors .resume>section.profile::after{
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    display: block;
    width: 900px;
    height:240px;
    background: #FFD72E;
    z-index: -1;
}

body.colors section>header>.add .icon{
    cursor: pointer;
    width: 15px; height: 15px;
    vertical-align: -0.15em;
    fill: #DB323F;
    overflow: hidden;
}

body.colors section .remove .icon{
    fill: #DB323F;
}


/*profile*/

body.colors .resume>section.profile{
    color: #2A2A2A;
    display: flex;
    align-items: center;
    border-top: 0;
    padding:90px 0 50px 0;
    z-index: 0;
}
body.colors .resume>section.profile>.about{
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
}
body.colors .resume>section.profile>.about h1{
    margin-bottom: 8px;
    font-size: 45px;
}
.resume>section.profile p{
    padding-bottom: 6px;
    font-weight: bold;
}
body.colors .resume>section.profile>.private .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: #1982B9;
    overflow: hidden;
    margin-right: 6px;
}



/*skills*/


body.colors .resume section.skills>header>h2 .icon{
    fill: #3FB44B;
}
body.colors> .resume>section.skills>ul>li>h3 .icon{
    width: 0.9em;
    height:0.9em;
}

/*projects*/
body.colors .resume section.projects>header>h2>.icon{
    fill:#FEC00E;
}
body.colors section.projects>ol>li>header>.linkWrapper>a{
    color:#4C55AD;
    margin-left: 5px;
    margin-bottom: 3px;
}

body.colors section.projects .link>span{
    color:#4C55AD;
    display: inline-block;
    max-width: 200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/*education*/

body.colors .resume section.education>header>h2 .icon{
    fill:#E51F64;
}
body.colors .resume section.education .remove .icon{
    fill: #DB323F;
}