* {margin: 0;padding: 0;}
*, *::before, *::after{box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol {list-style: none;}
button {
    font: inherit;
}
body{
    font-size: 18px;
    background:#B4B5C6;
}
div[v-cloak]{
    display: none;
}
@media (min-width: 500px) { /*PC上可以正常显示*/
    .page {
        height: 100vh;
        display: flex;
    }
}
.page{
    margin-top: 60px;
    margin-bottom: 100px;
    background: #B4B5C6;
}
.page>div{
     width: 100%;
     margin: 0 auto 0 auto;
 }
.page>div>main{width: 100%;
}

.exitPreview{
    font-size: 16px;
    position: fixed;
    color: #FFFFFF;
    background: #A0A0A0;
    padding: 5px 10px;
    top:40px;
    right:40px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.7;
}
.exitPreview:hover{
    opacity: 1;
}
