* {margin: 0;padding: 0;}
*, *::before, *::after {box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol {list-style: none;}
button {
    font: inherit;
}
body{
    font-size: 18px;
    background: #ddd;
}
div[v-cloak]{
    display: none;
}
@media (min-width: 500px) { /*PC上可以正常显示*/
    .page {
        height: 100vh;
        display: flex;
    }
}
.page{
    background: #1EC4B6;
    margin-top: 60px;
    margin-bottom: 100px;
}
.page>div>main {

}
.page>div{
     width: 100%;
     margin: 0 auto 0 auto;
 }
.page>div>main{
    width: 100%;
}

.exitPreview{
    position: fixed;
    top:20px;
    left:20px;
}
