.resume{
    box-shadow:3px 3px 10px 5px rgba(16, 15, 15, 0.3);
    width: 930px;
    margin: 50px auto 100px auto;
    background: #FEFEFE;
}
.resume::before,
.resume::after{
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: #EBEBEB;
}

/*profile*/

.resume>.profile{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}
.resume>.profile::after{
    content: '';
    display: block;
    width: 88%;
    height: 15px;
    background: #F6F6F6;
    margin-top: 30px;
}
.resume>.profile>h1{
    font-size: 50px;
    color: #535353;
    letter-spacing: 10px;
}
.resume>.profile>p{
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: 2px;
    color: #535353;
}
.resume>.profile>.private{
    margin-top: 5px;
    display: flex;
    font-size: 16px;
}
.resume>.profile>.private>div{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.resume>.profile .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}


/*简历下部分*/



.resume>.resumeDown{
    display: flex;
}
.resume>.resumeDown>.resumeLeft>section{
    color: #575757;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.resume>.resumeDown>.resumeLeft section>header{
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 6px;
    font-size: 16px;
    border-bottom: 1px solid #B6B6B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume>.resumeDown section>header>h2{
    font-size: 20px;
}

.resume>.resumeDown>.resumeLeft{
    border-right: 1px solid #BFBFBF;
    width:28%;
}

.resume>.resumeDown>.resumeRight{
    width:72%;
}
.resume>.resumeDown>.resumeLeft>section.contact{
    font-size: 16px;
    padding-left: 60px;
    padding-right: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.resume>.resumeDown>.resumeLeft>section.contact>.father{
    display: flex;
}
.resume>.resumeDown>.resumeLeft>section.contact>.father>.son{
    font-size: 14px;
    position: relative;
    width: 144px;
    margin-bottom: 10px;
    word-break: break-all;
}
.resume>.resumeDown>.resumeLeft>section.contact>div>span{

}

.resume>.resumeDown>.resumeLeft>section.contact .icon{
    width: 20px; height: 20px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}



/*skills*/




.resume>.resumeDown>.resumeLeft>section.education{

}
.resume>.resumeDown>.resumeLeft>section.education>ul>li>h3{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume>.resumeDown>.resumeLeft>section.education>ul>li>.year{
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
}
.resume>.resumeDown>.resumeLeft>section.education>ul>li>.school{
    display: block;
    font-size: 12px;
    margin-bottom: 6px;
}

.resume>.resumeDown>.resumeLeft>section.education{}
.resume>.resumeDown>.resumeLeft>section.education{}

.resume>.resumeDown>.resumeLeft>section.skills>ul>li>h3 .icon{
    width: 0.7em; height: 0.7em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 5px;
}
.resume>.resumeDown>.resumeLeft>section.skills>ul{
    width: 100%;
}
.resume>.resumeDown>.resumeLeft>section.skills>ul>li{
    margin-bottom: 25px;
}
.resume>.resumeDown>.resumeLeft>section.skills>ul>li>h3{
    width: 100%;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.resume>.resumeDown>.resumeLeft>section.skills>ul>li>h3>div{
    display: flex;align-items: center;
}
.resume>.resumeDown>.resumeLeft>section.skills>ul>li>h3>.percentage{
    font-weight: lighter;
    font-size: 12px;
}
.resume>.resumeDown>.resumeLeft>section.skills>ul>li>#process{
    background: #BFBFBF;
    height: 4px;
}



.resume>.resumeDown>.resumeRight>section{
    color: #575757;
    font-size: 16px;
    padding-left: 25px;
    padding-right: 60px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.resume>.resumeDown>.resumeRight section>header{
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #B7B7B7;
    padding-bottom: 6px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume>.resumeDown>.resumeRight>section.aboutme>p{
    font-size: 14px;
}

.resume>.resumeDown>.resumeRight>section.projects>ol{
    width: 100%;
}
.resume>.resumeDown>.resumeRight>section.projects>ol>li>header>h3{
    width: 100%;
    font-size: 16px;
}
.resume>.resumeDown>.resumeRight>section.projects>ol>li>header>h3>.left{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.resume>.resumeDown>.resumeRight>section.projects>ol>li>p{
    font-size: 14px;
    line-height: 1.5;
}
.resume>.resumeDown>.resumeRight>section.projects>ol>li{
    margin-bottom: 40px;
}

.resume>.resumeDown>.resumeRight>section.projects>ol>li>header>.linkWrapper{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.resume>.resumeDown>.resumeRight>section.projects>ol>li>header>.linkWrapper>a{
    margin-left: 5px;
    margin-bottom: 3px;
}
.resume>.resumeDown>.resumeRight>section.projects .linkWrapper>a .icon{
    width: 0.8em; height: 0.8em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}


/*projects*/


section.projects>header>h2>.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}
section.projects>ol>li>header>h3{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
section.projects>ol>li>header>h3>.remove{
    margin-right: 10px;
}
section.projects>ol>li>header>h3>.left{

}
section.projects>ol>li>header>h3>.left>.editableSpan.keywords{
    position: absolute;
    right: 50px;
    top:0px;
}

section.projects .link>span{
    display: inline-block;
    max-width: 200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

section.projects>ol>li>p{
    font-size: 14px;
}
section.projects>ol>li> textarea{
    width: 798px;
    height: 150px;
    resize: none;
    padding: 4px;
    outline: none;
}
section.projects>ol>li>p .description{
    /*文字遇到回车换行*/
    word-break:normal;
    white-space:pre-wrap;
    word-wrap : break-word ;
}
.profile input{
    font-size: 14px;
    padding: 2px 6px;
}

.profile>p input{
    margin-bottom: 10px;
    width: 210px;
}
.profile>h1 input{
    width: 210px;
}

section.contact input{
    width: 144px;
    padding: 2px 6px;
}

section.education>header .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
section.education>ul>li{
    position: relative;
 }
section.education>ul>li>.remove{
    position: absolute;
    top: 2px;
    right: -27px;
}
section.education>ul>li>.remove .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

section.education input{
    padding: 2px 6px;
}

section.education .major input{
    width: 100px;
}
section.education .education input{
    width: 50px;
}

section.education .year input{
    width: 167px;
    margin-bottom: 10px;
}
section.education .school input{
    width: 167px;
}


/*skills*/
section.skills>ul>li>.remove .icon,
section.skills>header>.add .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
section.skills>ul>li{
    position: relative;
}
section.skills>ul>li>.remove{
    position: absolute;
    right: -20px;
    top: 2px;
}
section.skills input{
    padding: 2px 6px;
}
section.skills .name input{
    width: 100px;
}
section.skills .percentage input{
    width: 40px;
    margin-right: 2px;
}
section.skills>ul>li>.description textarea{
    resize: none;
    outline: none;
    border-radius: 8px;
    padding: 6px 6px;
    width: 100%;
    height: 100px;
}
/*自我介绍*/
section.aboutme p{
    width: 100%;
}
section.aboutme textarea{
    resize: none;
    outline: none;
    padding: 6px 6px;
    width: 100%;
    height: 200px;
}

/*项目经历*/
section.projects>header>.addOrRemove{
    display: inline-block;
}
section.projects>header>.add>.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

section.projects .remove .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

section.projects input{
    padding: 2px 6px;
    width: 260px;
}
section.projects .link{
    width: 100%;
}
section.projects .linkWrapper input{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
}
section.projects textarea{
    resize: none;
    padding: 6px 6px;
    width: 100%;
    height: 260px;
}


/*education*/
