.resume{
    box-shadow:3px 3px 10px 5px rgba(16, 15, 15, 0.3);
    width: 900px;
    margin: 50px auto 100px auto;
    background: #FFFFFF;
    padding: 20px 50px 80px 50px;
}
.resume>section{
    position: relative;
    border-top: 3px solid #ddd;
    margin: 10px 0;
    padding: 10px 0 50px 0;
}
.resume>section.skills::after,
.resume>section.projects::after,
.resume>section.education::after{
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    display: block;
    width: 8%;
    height: 5px;
    background: #2E2C2D;
 }
section h2{
    font-size: 25px;
}
section h3{
    font-size: 20px;
}
section>header>h2>.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}
section>header>.add{
    display: inline-block;
    margin-right: 10px;
}
section>header>.add .icon{
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
section .remove{
margin-right: -10px;
}
section .remove .icon{
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
section .dot.icon{
    width: 15px;
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}
.resume>section>h1{
}
.resume>section>h2{
    font-size: 20px;
    margin-bottom: 13px;
}


/*profile*/

.resume>section.profile{
    color: #2A2A2A;
    display: flex;
    align-items: center;
    border-top: 0;
    padding:90px 0 50px 0;
}
.resume>section.profile>.about{
    display: flex;
    padding-right: 10px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
 }
.resume>section.profile>.about h1{
    margin-bottom: 8px;
    font-size: 45px;
}
.resume>section.profile p{
    padding-bottom: 6px;
    font-weight: bold;
}
.resume>section.profile>.private{
    font-size: 16px;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.resume>section.profile>.private .icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 6px;
}



/*skills*/


section.skills>ul{
    margin-right: 6px;
    display: flex;
    flex-wrap: wrap;/*一行两个*/
    justify-content: space-between;
}
section.skills>header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.skills>header>h2{
    font-size: 25px;
    display: flex;
    align-items: center;
}
section.skills>ul{
    margin-left: 13px;
}
section.skills>ul>li{
    font-size: 13px;
    width: 50%;
    padding: 5px 15px 5px 0;
}

section.skills>ul>li>h3{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.skills>ul>li>h3>.remove{
    display: flex;
    align-items: center;
}
section.skills>ul>li>h3 .icon{
    width: 15px;
    height: 15px;
}
section.skills>ul>li>h3>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.skills>ul>li>.description{
    padding-left: 28px;
    padding-top: 5px;
    font-size: 14px;
}

/*projects*/



section.projects>header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.projects h2{
    display: flex;
    align-items: center;
}

section.projects>header>h2>.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}
section.projects>ol>li>header .dot.icon{
    margin-right: 1px;
}

section.projects h3>.projectName{
    margin-right: 100px;
}

section.projects>ol{
    margin-left: 13px;
}
section.projects>ol>li{
    padding-bottom: 10px;
    margin-top: 5px;
}
section.projects>ol>li>header>h3{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
section.projects>ol>li>header>h3>.remove{
    margin-right: 10px;
}
section.projects>ol>li>header>h3>.left{

}
section.projects>ol>li>header>h3>.left>.editableSpan.keywords{
    position: absolute;
    right: 50px;
    top:0px;
}
section.projects>ol>li>header>.linkWrapper{
    margin-left: 21px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    font-size: 14px;
}
section.projects>ol>li>header>.linkWrapper>a{
    margin-left: 5px;
    margin-bottom: 3px;
}
section.projects .linkWrapper>a .icon{
    width: 0.8em; height: 0.8em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin-right: 10px;
}
section.projects .link>span{
    display: inline-block;
    max-width: 200px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

section.projects>ol>li>p{
    font-size: 14px;
    padding-left: 21px;
    padding-right: 25px;
}
section.projects>ol>li> textarea{
    width: 798px;
    height: 150px;
    resize: none;
    padding: 4px;
    outline: none;
}
section.projects>ol>li>p .description{
    /*文字遇到回车换行*/
    word-break:normal;
    white-space:pre-wrap;
    word-wrap : break-word ;
}


/*education*/


section.education>header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
section.education h2{
    display: flex;
    align-items: center;
}

section.education>ul{
    margin-left: 35px;
}
section.education>ul>li{
    position: relative;
    font-size: 14px;
}
section.education>ul>li>.remove{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
section.education>ul>li>.remove .icon{
    cursor: pointer;
    width: 15px;
    height: 15px;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
section.education>ul>li>span{
    display: inline-block;
}

section.education .year{width: 160px}
section.education .school{width: 200px}
section.education .major{width:250px;}
section.education .education{  width: 80px;}

/*编辑模式下的样式*/
/*profile*/
section input{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    padding: 2px 6px;
    outline: none;
    margin-left: 3px;
}
section.profile input{
    border-radius: 8px;
    padding: 2px 6px;
    outline: none;

}
section.profile .myname input{
    margin-left: 64px;
}

/*skills*/
section.skills input{
    width:347px;
}
section.skills>ul>li>h3 .name{
    display: flex;
    align-items: center;
}
section.skills>ul>li>.description textarea{
    resize: none;
    outline: none;
    border-radius: 8px;
    padding: 6px 6px;
    width: 100%;
    height: 100px;
}
/*项目经历*/
section.projects input{
    width: 300px;
    margin: 3px 0;
    border-radius: 8px;
    padding: 2px 6px;
    outline: none;
}
section.projects textarea{
    resize: none;
    outline: none;
    border-radius: 8px;
    padding: 6px 6px;
    width: 96%;
    height: 200px;
    margin-top: 4px;
}


/*education*/
section.education input{
    margin: 2px 0;
}
section.education>ul>li>.year input{
    width:150px;
}
section.education>ul>li>.school input{
    width:190px;
}
section.education>ul>li>.major input{
    width:240px;
}
section.education>ul>li>.education input{
    width:80px;
}