.share{
    position: fixed;
    background: white;
    box-shadow: 0 0 5px black;
    min-width: 300px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px;
}
.share>textarea{
    word-break: break-all;
    width:100%;
    resize: none;//不允许拖动
    height: 4em;

}