.skinPiker{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 10px #aea8a8;
    top: 15%;
    right: 0;
    padding: 30px 20px 3px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: 1s skinPicker;
}

.skinPiker>.toRight{
    margin-top: 20px;
    margin-left: -40px;
}
.skinPiker>.toRight .icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
    fill: #ddd;
    vertical-align: -0.15em;
    overflow: hidden;
}
.skinPiker>button{
    cursor: pointer;
    border: none;
    background: #ddd;
    margin: 5px 5px;
    outline: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}
.skinPiker>button.colorful{
    background: #FFD72E;
}
@keyframes skinPicker {
    from{
    translate(100%,-50%);
    }
    to{
    translate(0,-50%);
    }
}
.skinPiker>button:hover{
    opacity: 1;
}