.page .topBar{
    z-index:1;
    min-width: 900px;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background: #24292E;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px 0;
}
.page>div>.topBar >.left{
    display: flex;
    align-items: center;
}

.page>div>.topBar >.left>h1 {
    font-size: 20px;
    color: white;
    margin-left: 100px;
}

.page>div>.topBar >.left>ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.page>div>.topBar >.left>ul>li{
    margin: 0 16px;

}
.page>div>.topBar >.left>ul>li>button{
    margin: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background: #24292E;
}
.page>div>.topBar >.right{
    display: flex;
    align-items: center;
}
.page>div>.topBar >.right>.userName{
    color: #FFFFFF;
    margin-right: 30px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}
.page>div>.topBar >.right button{
    margin: 0 30px 0 0;
    border: none;
    outline: none;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    background: #24292E;
}
.page>div>.topBar >.right>.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
